.overlay{
  animation: fadeIn 0.5s ease-in-out;
  position:fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px) saturate(150%);
}
.invisible{
  display: none;
}

keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal{
  background-color: var(--secondColor);

  animation: fadeIn 5s ease-in-out;
  width: 300px;
  min-height: 200px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.modal-header{
  justify-content: space-between;
  font-size: 1.5em;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
}
.modal-header>button{
  background-color: transparent;
  border: none;
  color: var(--textColor);
  font-size: 1.2em;
  cursor: pointer;
}
.modal-header>button:hover{
  color: #ff6b6b;
}

.modal-content{
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: var(--mainColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-content>label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
p>a{
  color: var(--textColor);
  text-decoration: underline;
}
.modal-content>label>input{
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--textColor);
  background-color: var(--secondColor);
  border: none;
  border-radius: 5px;
  font-size: 1em;
  &:focus{
    outline: 1px solid  var(--textColor);
  }}
.modal-content>button{
  padding: 10px;
  font-size: 1em;
  background-color: var(--textColor);
  color: var(--mainColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  &:hover{
    background-color: #6fb8ff;
  }
}