.searchBar{
  border-radius: 50px;
  background: #D9D9D906;
  width: 90%;
  box-shadow: 0 4px 4px 0 #00000085 ;
  display: flex;
  height: fit-content;

}
.searchBar>svg{
  padding:  05px 20px ;
  height: 30px;
}
.searchBar>input{
  padding-left: 5px;
  font-size: 1.3rem;
  width: 100%;
  color: var(--textColor);
  background:none;
  border: none;
  &:focus{
    padding-left: 5px;
  border-radius: 0 50px 50px 0 ;
    outline: none;
    border: 1px solid var(--textColor);
  }
}